<div class="container">
    <mat-card class="example-card">
        <table>
            <tr>
                <td>
                    <button mat-fab [color]="primaryGrid1[1]" (click)="onSelect(1)">
                        <mat-icon>favorite</mat-icon>
                      </button>
                  </td>
              <td>
                <button mat-fab [color]="primaryGrid2[1]" (click)="onSelect(2)">
                    <mat-icon>favorite</mat-icon>
                  </button>
              </td>
              <td>
                <button mat-fab [color]="primaryGrid3[1]" (click)="onSelect(3)">
                    <mat-icon>favorite</mat-icon>
                  </button>
              </td>
            </tr>
            <tr>
                <td>
                    <button mat-fab [color]="primaryGrid4[1]" (click)="onSelect(4)">
                        <mat-icon>favorite</mat-icon>
                      </button>
                  </td>
                  <td>
                    <button mat-fab [color]="primaryGrid5[1]" (click)="onSelect(5)">
                        <mat-icon>favorite</mat-icon>
                      </button>
                  </td> 
                  <td>
                    <button mat-fab [color]="primaryGrid6[1]" (click)="onSelect(6)">
                        <mat-icon>favorite</mat-icon>
                      </button>
                  </td>
            </tr>
            <tr>
                <td>
                    <button mat-fab [color]="primaryGrid7[1]" (click)="onSelect(7)">
                        <mat-icon>favorite</mat-icon>
                      </button>
                  </td>
              <td>
                <button mat-fab [color]="primaryGrid8[1]" (click)="onSelect(8)">
                    <mat-icon>favorite</mat-icon>
                  </button>
              </td>
              <td>
                <button mat-fab [color]="primaryGrid9[1]" (click)="onSelect(9)">
                    <mat-icon>favorite</mat-icon>
                  </button>
              </td>
            </tr>
        </table>
        <hr>
        <div class="example-button-row">
            <h2>{{finalResult}}</h2> 
          </div>
    </mat-card>
  </div>